<div class="table-responsive">
        <table class="table table-striped text-left">
            <thead>
                <tr><b>
                    <th>Name</th>
                    <th>Events</th>
                    <th>Gender</th>
                    <th>Grade</th>
                    <th>Size</th>
                    <th>Email</th>
                    <th>Home Phone</th>
                    <th>Cell Phone</th>
                    <th class="text-nowrap">Dietary Restrictions</th>
                    <th>Status</th>
                    <th>Completed</th>
                    <th>Upcoming</th>
                </b></tr>
            </thead>
            <tbody>
                {% for prefect in prefects %}
                    <tr>
                        <td class="text-nowrap">{{ prefect.name }}</td>
                        <td>{{ prefect.credits }}</td>
                        <td>{{ prefect.gender or 'N/A' }}</td>
                        <td>{{ prefect.grade }}</td>
                        <td>{{ prefect.size or 'N/A' }}</td>
                        <td>{{ prefect.email or 'N/A' }}</td>
                        <td class="text-nowrap">{{ prefect.home or 'N/A' }}</td>
                        <td class="text-nowrap">{{ prefect.cell or 'N/A' }}</td>
                        <td class="text-nowrap">{{ prefect.dietary or 'N/A' }}</td>
                        <td class="text-nowrap">{{ prefect.status or 'N/A' }}</td>
                        <td class="text-nowrap">
                            <ul>
                                {% for event in prefect.completed %}
                                    {% if event[1] == 3 %}
                                        <li>{{ event[0] }} (Shifts 1 + 2, {{ event[2] }} events)</li>
                                    {% else %}
                                        <li>{{ event[0] }} (Shift {{ event[1] }}, {{ event[2] }} events)</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-nowrap">
                            <ul>
                                {% for event in prefect.upcoming %}
                                    {% if event[1] == 3 %}
                                        <li>{{ event[0] }} (Shifts 1 + 2, {{ event[2] }} events)</li>
                                    {% else %}
                                        <li>{{ event[0] }} (Shift {{ event[1] }}, {{ event[2] }} events)</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="total">
                    <td colspan="2">TOTAL</td>
                    <td>
                        M: {{ total.male }}<br>
                        F: {{ total.female }}
                    </td>
                    <td>
                        11: {{ total.eleven }}<br>
                        12: {{ total.twelve }}
                    </td>
                    <td>
                        XS: {{ total.xs }}<br>
                        S: {{ total.s }}<br>
                        M: {{ total.m }}<br>
                        L: {{ total.l }}<br>
                        XL: {{ total.xl }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        New: {{ total.new }}<br>
                        Returning: {{ total.returning }}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>