p {
    margin: 0px;
}

.card {
    margin-right: 10px;
}

#yourgroup {
    margin-bottom: 5px;
}

.textbox {
    width: auto;
}

.centeronpage {
    margin: 0 auto;
    text-align: center;
}

.pullbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.category, .total {
    font-weight: bold;
}

.margin {
    margin-bottom: 18px;
}

.smallMargin {
    margin-bottom: 12px;
}

.green, .completed {
    color: green;
}

.red {
    color: red;
}

.name {
    width: 50%;
}

.shift {
    width: 15%;
}

.value {
    width: 15%;
}

.withdraw, .signup, .empty {
    width: 20%;
}

.filename {
    width: 25%;
}

.filelink {
    width: 45%;
}

.eventdate {
    width: 15%;
}

.eventname {
    width: 35%;
}

.eventshift, .eventvalue, .eventhide, .eventremove, .eventdone, .eventshow {
    width: 10%;
}

.eventname2 {
    width: 60%
}

.eventaddrem {
    width: 20%;
    text-align: center;
}

.checkname {
    width: 35%;
}

.checkgroup {
    width: 25%;
}

.checkshift {
    width: 10%;
}

.requestedshift {
    width: 8%;
}

.checkoption, .checkoption2 {
    width: 15%;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 460px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.theader {
    margin-top: 0;
    margin-bottom: 0;
}