{% extends "layouta.html" %}

{% block title %}
    Add Prefect
{% endblock %}

{% block main %}
    <h1>Register Prefect</h1>
    <hr>
    <form action="/addprefecta" method="POST" name="addPrefect">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Full Name" type="text" onblur="autoUserPass(this.form)" />
        </div>
        <div class="form-group">
            <input class="form-control" name="username" placeholder="Username (firstname.lastname by default)" type="text" />
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password (1234 by default)" type="password" />
        </div>
        <div class="form-group">
            <input class="form-control" name="confirm" placeholder="Confirm Password" type="password" />
        </div>
        <div class="form-group">
            Group: 
            <select class="form-control" name="leader">
                <option value="" selected disabled>Group</option>
                {% for leader in leaders %}
                    <option value="{{ leader }}">{{ leader }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            Grade: 
            <select class="form-control" name="grade">
                <option value="" selected disabled>Grade</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
