{% extends "layouta.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div align="center">
        <form action="/changea" method="POST">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control textbox" name="current" placeholder="Current Password" type="password" />
            </div>
            <div class="form-group">
                <input class="form-control textbox" name="new" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control textbox" name="confirmation" placeholder="Confirm Password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
    </div>
    
{% endblock %}
