{% extends "layoute.html" %}

{% block title %}
    Check In/Out
{% endblock %}

{% block main %}
    <h1>Check In/Out</h1>
    <form action="" method="POST" name="check">
        <select class="form-control" name="event" onchange="window.location.href=this.value">
            <option value="" selected disabled>Select Event</option>
            {% for event in events %}
                <option value="/checke/{{ event.id }}" {% if event.id == currentEvent.id %}selected{% endif %}>{{ event.title }}</option>
            {% endfor %}
        </select>
    </form>
    <hr>
    <div style="visibility: {{ visibility }};">
        <!-- Not checked in Table -->
        <div class="row">
            <div class="col-sm-8">
                <h3>Not Checked In ({{ notIn|length }})</h3>
            </div>
            <div class="col-sm-4 text-right">
                <a href="/checkallin/{{ currentEvent.id }}" class="btn btn-success">Check all in</a>
            </div>
        </div>
        <table class="table table-striped text-left">
            <thead>
                <tr>
                    <th class="checkname">Name</th>
                    <th class="checkgroup">Group</th>
                    <th class="checkshift">Shift</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for prefect in notIn %}
                    <tr>
                        <td class="checkname">{{ prefect.name }}</td>
                        <td class="checkgroup">{{ prefect.group }}</td>
                        <td class="checkshift">
                            {% if prefect.shift == 3 %}
                                1 + 2
                            {% else %}
                                {{ prefect.shift }}
                            {% endif %}
                        </td>
                        <td class="checkoption"><a href="/checkout/{{ currentEvent.id }}/{{ prefect.shift }}/{{ prefect.id }}">Check In and Out</a></td>
                        <td class="checkoption2"><a href="/checkin/{{ currentEvent.id }}/{{ prefect.id }}">Check In</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Checked in Table -->
        <div class="row">
            <div class="col-sm-4">
                <h3>Checked In ({{ In|length }})</h3>
            </div>
            <div class="col-sm-8 text-right">
                <a href="/uncheckallin/{{ currentEvent.id }}" class="btn btn-danger">Undo Check all in</a>
                <a href="/checkallout/{{ currentEvent.id }}" class="btn btn-success">Check all out</a>
            </div>
        </div>
        <table class="table table-striped text-left">
            <thead>
                <tr>
                    <th class="checkname">Name</th>
                    <th class="checkgroup">Group</th>
                    <th class="checkshift">Shift</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for prefect in In %}
                    <tr>
                        <td class="checkname">{{ prefect.name }}</td>
                        <td class="checkgroup">{{ prefect.group }}</td>
                        <td class="checkshift">
                            {% if prefect.shift == 3 %}
                                1 + 2
                            {% else %}
                                {{ prefect.shift }}
                            {% endif %}</td>
                        <td class="checkoption"><a href="/uncheckin/{{ currentEvent.id }}/{{ prefect.id }}">No show</a></td>
                        <td class="checkoption2"><a href="/checkout/{{ currentEvent.id }}/{{ prefect.shift }}/{{ prefect.id }}">Check Out</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Checked Out Table -->
        <div class="row">
            <div class="col-sm-4">
                <h3>Checked Out ({{ Out|length }})</h3>
            </div>
            <div class="col-sm-8 text-right">
                <a href="/checkbackinall/{{ currentEvent.id }}" class="btn btn-danger">Check all back in</a>
            </div>
        </div>
        <table class="table table-striped text-left">
            <thead>
                <tr>
                    <th class="checkname">Name</th>
                    <th class="checkgroup">Group</th>
                    <th class="checkshift">Shift</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for prefect in Out %}
                    <tr>
                        <td class="checkname">{{ prefect.name }}</td>
                        <td class="checkgroup">{{ prefect.group }}</td>
                        <td class="checkshift">
                            {% if prefect.shift == 3 %}
                                1 + 2
                            {% else %}
                                {{ prefect.shift }}
                            {% endif %}</td>
                        <td class="checkoption"><a href="/uncheckinfromcheckout/{{ currentEvent.id }}/{{ prefect.shift }}/{{ prefect.id }}">No show</a></td>
                        <td class="checkoption2"><a href="/checkbackin/{{ currentEvent.id }}/{{ prefect.shift }}/{{ prefect.id }}">Check back in</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
