{% extends "layouta.html" %}

{% block title %}
    Edit Exec
{% endblock %}

{% block main %}

    <form action="" method="POST" name="edit">
        <h1>Edit Exec</h1>
        <select class="form-control" name="exec" onchange="window.location.href=this.value">
            <option value="" selected disabled>Select Exec</option>
            {% for exec in execs %}
                <option value="/editexeca/{{ exec.id }}" {% if exec.id == thisexec.id %}selected{% endif %}>{{ exec.name }}</option>
            {% endfor %}
        </select>
    </form>
    <br>
    <div style="visibility: {{ visibility }};">
        <form action="/editexeca/{{ thisexec.id }}" method="POST" name="edit">
            <div class="row">
                <div class="col-md-8"><h1>{{ thisexec.name }}</h1></div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Name</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input autofocus autocomplete="off" class="form-control" type="text" name="name" value="{{ thisexec.name }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Username</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input autofocus autocomplete="off" class="form-control" type="text" name="username" value="{{ thisexec.username }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Grade</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" name="grade">
                            <option value="11" {% if thisexec.grade == '11' %} selected="selected" {% endif %}>11</option>
                            <option value="12" {% if thisexec.grade == '12' %} selected="selected" {% endif %}>12</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Student Number</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" type="text" name="stuNum" value="{{ prefect.stuNum or 'N/A' }}" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Gender</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" name="gender">
                            <option value="Male" {% if thisexec.gender == 'Male' %} selected="selected" {% endif %}>Male</option>
                            <option value="Female" {% if thisexec.gender == 'Female' %} selected="selected" {% endif %}>Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><span class="category">Dietary Restrictions </span>(Please list)</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" type="text" name="dietary" value="{{ thisexec.dietary or 'N/A' }}" >
                    </div>
                </div>
            </div>
            <div class="row margin">
                <div class="col-md-6 category">Clothing Size</div>
                <div class="col-md-6">
                    <select class="form-control" name="size">
                        <option value="XS" {% if thisexec.size == 'XS' %} selected="selected" {% endif %}>XS</option>
                        <option value="S" {% if thisexec.size == 'S' %} selected="selected" {% endif %}>S</option>
                        <option value="M" {% if thisexec.size == 'M' %} selected="selected" {% endif %}>M</option>
                        <option value="L" {% if thisexec.size == 'L' %} selected="selected" {% endif %}>L</option>
                        <option value="XL" {% if thisexec.size == 'XL' %} selected="selected" {% endif %}>XL</option>
                    </select>
                </div>
            </div>
            <div class="row margin">
                <div class="col-md-6 category">Status</div>
                <div class="col-md-6">
                    <select class="form-control" name="status">
                        <option value="New" {% if thisexec.status == 'New' %} selected="selected" {% endif %}>New</option>
                        <option value="Returning" {% if thisexec.status == 'Returning' %} selected="selected" {% endif %}>Returning</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Home Phone</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" type="text" name="home" value="{{ thisexec.home or 'N/A' }}" oninput="homePhoneStyle(this.form)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Cell Phone</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" type="text" name="cell" value="{{ thisexec.cell or 'N/A' }}" oninput="cellPhoneStyle(this.form)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">Email</div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" type="text" name="email" value="{{ thisexec.email or 'N/A' }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 category">
                    Password
                </div>
                <div class="col-md-6">
                    <a href="/resetPassa/{{ thisexec.id }}/execsa">Reset</a> (1234 by default)
                </div>
            </div>
        </form>
        <br>
        <a href="/deleteexeca/{{ thisexec.id }}" class="btn btn-danger">Delete Exec</a>
    </div>

{% endblock %}
