{% extends "layouta.html" %}

{% block title %}
    Prefects
{% endblock %}

{% block main %}
    <h1>Prefects ({{ prefects|length }})</h1>
    <div class="row">
        <div class="col-md-8">
            <select class="form-control" style="width:auto" onchange="window.location.href=this.value">
                <option value="/prefectsa" {% if currentGroup == 'all' %}selected{% endif %}>ALL PREFECTS</option>
                {% for leader in leaders %}
                    <option value="/prefectsa/{{ leader }}" {% if currentGroup == leader %}selected{% endif %}>{{ leader }}'s group</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4 text-right">
            <a href="/addprefecta" class="btn btn-primary">Add</a>
        </div>
    </div>
    
    <hr>
    <div class="row" id="yourgroup">
        <div class="col-md-8"><h4>{% if currentGroup == 'all' %}All Prefects{% else %}{{ currentGroup }}'s group{% endif %} ({{ prefects|length }}):</h4></div>
    </div>
    {% if currentGroup == 'all' %}
        <div class="row" style="margin-left: 0px">
            {% for column in prefects | slice(6) %}
                <table class="table table-striped text-left" style="width:auto; margin-right: 10px">
                    <tbody>
                        {% for prefect in column %}
                            <tr><td>
                                <a href="#" data-toggle="modal" data-target="#popup_{{ prefect.id }}">{{ prefect.name }}</a>
                            </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% else %}
        <table class="table table-striped text-left" style="width:auto">
            <tbody>
                {% for prefect in prefects %}
                    <tr><td>
                        <a href="#" data-toggle="modal" data-target="#popup_{{ prefect.id }}">{{ prefect.name }}</a>
                    </td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% for prefect in prefects %}
        <div class="modal fade" id="popup_{{ prefect.id }}" tabindex="-1" role="dialog" aria-labelledby="popuptitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="popuptitle">{{ prefect.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-right" style="margin-bottom: 5px">
                            <a href="/editprefecta/{{ prefect.id }}" class="btn btn-primary">Edit</a>
                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <td class="category">Username</td>
                                <td>{{ prefect.username }}</td>
                            </tr>
                            <tr>
                                <td class="category">Events</td>
                                <td>{{ prefect.credits }}</td>
                            </tr>
                            <tr>
                                <td class="category">Gender</td>
                                <td>{{ prefect.gender }}</td>
                            </tr>
                            <tr>
                                <td class="category">Grade</td>
                                <td>{{ prefect.grade }}</td>
                            </tr>
                            <tr>
                                <td class="category">Size</td>
                                <td>{{ prefect.size }}</td>
                            </tr>
                            <tr>
                                <td class="category">Email</td>
                                <td>{{ prefect.email }}</td>
                            </tr>
                            <tr>
                                <td class="category">Home Phone</td>
                                <td>{{ prefect.home }}</td>
                            </tr>
                            <tr>
                                <td class="category">Cell Phone</td>
                                <td>{{ prefect.cell }}</td>
                            </tr>
                            <tr>
                                <td class="category">Dietary Restrictions</td>
                                <td>{{ prefect.dietary }}</td>
                            </tr>
                            <tr>
                                <td class="category">Status</td>
                                <td>{{ prefect.status }}</td>
                            </tr>
                        </table>
                        <b>Completed Events</b>
                        <ul>
                            {% for event in prefect.completed %}
                                {% if event[1] == 3 %}
                                    <li>{{ event[0] }} (Shifts 1 + 2, {{ event[2] }} events)</li>
                                {% else %}
                                    <li>{{ event[0] }} (Shift {{ event[1] }}, {{ event[2] }} events)</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <b>Upcoming Events</b>
                        <ul>
                            {% for event in prefect.upcoming %}
                                {% if event[1] == 3 %}
                                    <li>{{ event[0] }} (Shifts 1 + 2, {{ event[2] }} events)</li>
                                {% else %}
                                    <li>{{ event[0] }} (Shift {{ event[1] }}, {{ event[2] }} events)</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <br>


{% endblock %}
