{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-8"><h1>{{ prefect.name }}</h1></div>
        <div class="col-md-4 text-right">
            <a href="/edit" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <hr>
    <div class="row smallMargin">
        <div class="col-md-6 category">Grade</div>
        <div class="col-md-6">{{ prefect.grade }}</div>
    </div>
    <div class="row smallMargin">
        <div class="col-md-6 category">Gender</div>
        <div class="col-md-6">{{ prefect.gender or 'N/A' }}</div>
    </div>
    <div class="row smallMargin">
        <div class="col-md-6 category">Dietary Restrictions</div>
        <div class="col-md-6">{{ prefect.dietary or 'N/A' }}</div>
    </div>
    <div class="row smallMargin">
        <div class="col-md-6 category">Group Leader</div>
        <div class="col-md-6">{{ prefect.group }}</div>
    </div>
    <div class="row smallMargin">
        <div class="col-md-6 category">Clothing Size</div>
        <div class="col-md-6">{{ prefect.size or 'N/A' }}</div>
    </div>
    <div class="row smallMargin">
        <div class="col-md-6 category">Status</div>
        <div class="col-md-6">{{ prefect.status or 'N/A' }}</div>
    </div>
    <div class="row smallMargin">
        <div class="col-md-6 category">Home Phone</div>
        <div class="col-md-6">{{ prefect.home or 'N/A' }}</div>
    </div>
    <div class="row smallMargin">
        <div class="col-md-6 category">Cell Phone</div>
        <div class="col-md-6">{{ prefect.cell or 'N/A' }}</div>
    </div>
    <div class="row">
        <div class="col-md-6 category">Email</div>
        <div class="col-md-6">{{ prefect.email or 'N/A' }}</div>
    </div>

{% endblock %}
