{% extends "layoutapprovee.html" %}

{% block title %}
    Pending Signups
{% endblock %}

{% block main %}
    <h4>Pending Signups ({{ totalreq }})</h4>
    <select class="form-control" onchange="window.location.href=this.value">
        <option value="/requestede" {% if 'byTime' == currentaddress2 %}selected{% endif %}>Sort by SIGNUP TIME</option>
        <option value="/requestede/byEvents" {% if 'byEvent' == currentaddress2 %}selected{% endif %}>Sort by EVENT COUNT</option>
    </select>
    <br>
    <table class="table table-striped text-left">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Event</th>
                <th>Name</th>
                <th>Group</th>
                <th>Events completed</th>
                <th>Shift</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for eventRequest in requested %}
                <tr>
                    <td>{{ eventRequest.time }}</td>
                    <td>{{ eventRequest.eventName }}</td>
                    <td>{{ eventRequest.prefect }}</td>
                    <td>{{ eventRequest.group }}</td>
                    <td>{{ eventRequest.credits }}</td>
                    <td class="requestedshift">{% if eventRequest.shift == 3 %}
                        1 + 2
                    {% else %}
                        {{ eventRequest.shift }}
                    {% endif %}</td>
                    <td>{{ eventRequest.value }}</td>
                    <td><a href="/approve/{{ eventRequest.eventCode }}/{{ eventRequest.shift }}/{{ eventRequest.id }}">Approve</a></td>
                    <td><a href="/decline/{{ eventRequest.eventCode }}/{{ eventRequest.shift }}/{{ eventRequest.id }}">Decline</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
